{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	
	<head>
		<title>I created an Event Website. Learn #Django in 4 hours on http://slash4.de</title>
		<meta name="description" content="I just created my own Event Website. Learn Django in 4 hours on http://slash4.de/blog/learn-django-in-4-hours #django #python #onlinecourse #slash4">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>  
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<link href="{% static "css/bootstrap.css" %}" rel="stylesheet" media="screen">
		<link href="{% static "css/style.css" %}" rel="stylesheet" media="screen">
		<link href="{% static "css/font-awesome.css" %}" rel="stylesheet" media="screen">
		<link href="{% static "css/responsive.css" %}" rel="stylesheet" media="screen">
	</head>
	<body>
		<header id="header">
			<div id="menu" class="header-menu fixed browser">
				<div class="box">
					<div class="row">
						<nav role="navigation" class="col-sm-12">
							<div class="navbar-header">
								<span class="navbar-brand logo">
									 <a href="/">MyEvent</a>
								</span>
								<span class="style">
									<a class="lstye home" href="/events">Browse</a>
								</span>
							</div>

							<div class="navbar-collapse collapse">
								<ul class="nav navbar-nav">
									{% if request.user.is_authenticated %}
						            <li><a href="#">Welcome {{request.user.username}}</a></li>
						            <li><a href="{% url 'user_event' request.user.id %}">My Events</a></li>
						            <li><a href="/logout/">Log out</a></li>
						            {% else %}
						            <li><a href="/login/">Sign In</a></li>
						            <li><a href="/register/">Register</a></li>
						            {% endif %}
								</ul>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</header>
		<div class="content">
			<div class="container box">
				{% block 'content' %}
				{% endblock %}
			</div>
		</div>
		<footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="copyright"> &copy; Copyright slash4</p>
                    </div>
                </div>
            </div>
        </footer>
	</body>
</html>