{% extends 'base.html' %}
{% block 'content' %}
	<section id="single" class="row">
		<div class="event-detail col-sm-8">
			<h2>{{event.title}}</h2>
			<strong>Date: {{event.date}}</strong> <br />
        	<strong>Venue : {{event.venue}}</strong> <br />
        	<strong>Ticket Price: {{event.amount}}</strong> <br />
        	<strong>Seats Capacity : {{event.seats}}</strong> <br />
        	<strong>Duration : {{event.date}}</strong> <br />
			
			<p>{{event.description}}</p>

            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55ae89800d295a5e" async="async"></script>
            <div class="addthis_native_toolbox"></div>
		</div>
		<div class="barleft col-sm-4">
            <p clss="msg">{% if message %} {{ message }} {% endif %}</p>
            {% if not joined %}
            <a href="{% url 'event_join' event.id %}" class="btn join">Yes, Attend</a>
            {% else %}
            <a href="{% url 'event_cancel' event.id %}" class="btn join">No, Not Attend</a>
            {% endif %}
		</div>
	</section>
{% endblock %}
