{% extends 'base.html' %}
{% block 'content' %}
	<section id="single" class="row">
		<div class="event-detail col-sm-8">
			<h2>{{event.title}}</h2>
			<strong>Date: {{event.date}}</strong> <br />
        	<strong>Venue : {{event.venue}}</strong> <br />
        	<strong>Ticket Price: {{event.amount}}</strong> <br />
        	<strong>Seats Capacity : {{event.seats}}</strong> <br />
        	<strong>Duration : {{event.date}}</strong> <br />
			
			<p>{{event.description}}</p>
		</div>
		<div class="barleft col-sm-4">
		</div>
	</section>
{% endblock %}
